body{
    background-color:#912CEE;
    text-align:center;
    color:white;
}
head{
    color:white;
}
p{
    font-size:25px;
}
h1{
    font-size:70px;
}
h2{
    font-size:19px;
    color:yellow;
}
h3{
    font-size:15px;
}